<!DOCTYPE html>
<html lang="en">
 
  <head>
    <%- include('./head'); %>
    <title><%= nameCategories %></title>
  </head>
  <body>
    <%- include('./header'); %>
    <div class="section_sidebar_slider">
      <div class="container">
        <div class="row">
          <div class="dqdt-sidebar sidebar left-content col-lg-3 col-md-12 hidden-sm hidden-xs">
            <div class="wrap_background_aside asidecollection">
              
            </div>
            <div class="sanPhamBanChay">
            </div>
          </div>
          
          <div class="main_container collection col-lg-9 col-md-12 col-sm-12">
            <section class="bread-crumb">
                <span class="crumb-border"></span>
                <div class="container no-padding">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <ul class="breadcrumb">					
                                <li class="home">
                                    <a href="/"><span>Trang chủ</span></a>						
                                    <span class="mr_lr">&nbsp;<i class="fas fa-chervon-right"></i>&nbsp;</span>
                                </li>
                                <li><strong><span> <%= nameCategories %></span></strong></li>     
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <div class="collectiontitle">
                <h1 class="cat-heading"><%= nameCategories %></h1>
            </div>
            <div class="category-products products">
                <div class="section">
                    <div class="sortPagiBar">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                       
                        <div class="sort-cate clearfix">
                            <div id="sort-by">
                              <select class="select-sapxep form-select"  style="color: #FFF;" name="sapXep" id="sapxep"  data-id="<%= id %>">
                                <option value="null">
                                  Mặc định
                                </option>
                                <option value="alpha-asc" >A → Z</option>
                                <option value="alpha-desc" >Z → A</option>
                                <option value="price-asc" >Giá tăng dần</option>
                                <option value="price-desc" >Giá giảm dần</option>
                                <option value="created-desc" >Cũ đến mới</option>
                                <option value="created-asc" >Mới đến cũ</option>
                              </select>
                                
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
                </div>
            </div>
            <div class="listProduct-category">
              <div class="products-view products-view-grid collection_reponsive list_hover_pro">
                <div class="row">
                    <% getCategoryProducts.forEach(function(item, i){ %>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="item_product_main margin-bottom-15 item_product_main_relative">
                            <div class="product-loop-base p-2">
                                <div class="product-thumbnail">
                                    <a class="image_link display_flex" href="/ao-thun-asos" title="<%= item.tenSp %>">
                                        <img class="lazyload loaded" src="<%= item.image %>" data-src="<%= item.image %>" alt="<%= item.tenSp %>" data-was-processed="true">
                                    </a>
                                    <div class="product-action clearfix hidden-xs">
                                        <form action="/cart/add" method="post" data-cart-form="" class="variants form-nut-grid" data-id="product-actions-2842762" enctype="multipart/form-data">
                                            <div class="group_action">
                                                <input class="hidden" type="hidden" name="variantId" value="4263113">
                                                <button class="btn btn-cart btn btn-circle left-to btn_tuychon" title="Chọn sản phẩm" type="button" onclick="window.location.href='/ao-so-mi-asos-asm08'" tabindex="-1">
                                                    Chọn sản phẩm
                                                  </button>
                                                  <button title="Xem nhanh" type="button"  data-url="/products-detal-item?id=<%= item.id %>" data-bs-toggle="modal" data-bs-target="#myModal"  data-handle="ao-so-mi-asos-asm08" class="xem_nhanh btn-circle btn_view btn right-to quick-view hidden-xs hidden-sm hidden-md" >
                                                    Xem nhanh
                                                  </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="product-info a-left">
                                    <h3 class="product-name"><a href="/ao-thun-asos" title="Áo thun Asos"><%= item.tenSp %></a></h3>
                            
                                    <div class="product-hideoff">
                                        <div class="product-hide">
                                            <div class="price-box clearfix">
                                                <div class="special-price">
                                                    <span class="price product-price"><%= item.giaBanSale %> </span>
                                                  </div>
                                                  <% if(item.sale >0){ %>
                                                  <div class="old-price">
                                                    <span class="price product-price-old">
                                                        <%= item.giaSanPham %>
                                                    </span>
                                                  </div>
                                                  <% } %>										
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>	
                        </div>
                    </div>
                    <% }); %>    
                </div>
            </div>
            <div class="pagination">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <% if(page > 1 && page <= totalCountProducts){ %> 
                      <li class="page-item">
                        <a class="page-link" href="/getCategory-products?id=<%= id %>&&page=<%= page -1 %>" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                        </a>
                      </li>
                      <% } else{ %>  
                        <li class="page-item disabled">
                            <a class="page-link " href="#" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                            </a>
                          </li>
                      <% } %>
                      <% for (let i = 1; i <= totalCountProducts; i++) { %>
                        <% if(page == i){ %>
                            <li class="page-item active" ><a class="page-link "  href="/getCategory-products?id=<%= id %>&&page=<%= i %>"><%= i %></a></li>
                          <% } else{ %>  
                            <li class="page-item" ><a class="page-link"  href="/getCategory-products?id=<%= id %>&&page=<%= i %>"><%= i %></a></li>
                         <% } %>
                       
                      <% } %>

                      <% if( page < totalCountProducts){ %> 
                      <li class="page-item">
                        <a class="page-link" href="/getCategory-products?id=<%= id %>&&page=<%= page +1 %>" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                        </a>
                      </li>
                      <% } else{ %>  
                        <li class="page-item disabled">
                            <a class="page-link" href="#" aria-label="Next">
                              <span aria-hidden="true">&raquo;</span>
                            </a>
                          </li>
                        <% } %>
                    </ul>

                  </nav> 
                  
            </div>
            </div>
           
           
          </div>

        </div>
      </div>
    </div>
    
    
    <div class="modal fade " id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          
        </div>
      </div>
    </div>
    <%- include('./footer'); %>
    <script
        type="text/javascript"
        src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
        ></script>
    <script>
      $('.xem_nhanh').on('click', function(e){
        e.preventDefault()
        let url = $(this).data('url')
        console.log(url)
          $.get(url, function (data) {
          $(".modal-content").empty().append(data);
          
        });       
      })
      $(document).ready(function () {
        $.get("/danhMucSanPham-menu", function (data) {
                $(".asidecollection").empty().append(data);
              });
        $.get("/sanPhamBanChay-products", function (data) {
          $(".sanPhamBanChay").empty().append(data);
        });
      
       
      });
     
      $('#sapxep').on('change', function(e){
    
        let id_category = $(this).attr("data-id")
        let value = $(this).val()
        if(value && value != "") {
          
          $.get(`/sapXep-products?id=${id_category}&page=1&value=${value}`, function (data) {
                $(".listProduct-category").empty().append(data);
              });
        }    
      })
      $('.pagination-sapxep').on('click', function(e){
    
        // let id_category = $(this).attr("data-id")
        console.log("asdlas")
    // let value = $(this).val()
    // if(value && value != "") {
      
    //   $.get(`/sapXep-products?id=${id_category}&page=1&value=${value}`, function (data) {
    //         $(".listProduct-category").empty().append(data);
    //       });
    // }    
  })
    </script>
  </body>

</html>
