<div class="section_blog_index clearfix">
	<h2 class="title_modules title-news">
		<a href="tin-tuc" title="Tin tức">Tin tức</a>
	</h2>
	<div class="list-blogs">
        <% data.forEach(function(item, i){ %>
            <% if(i == 0){ %>
		<div class="blog-item">
	        <div class="blog-item-thumbnail">
                <a class="image-blog" href="/news-detail?id=<%= item.id %>" title="<%= item.tieuDe %>">
                    <img class="lazyload loaded" src="<%= item.anhTinTuc %>" data-src="<%= item.anhTinTuc %>" alt="<%= item.tieuDe %>" data-was-processed="true">
                </a>
	        </div>
	        <h3 class="blog-item-name"><a href="/news-detail?id=<%= item.id %>" title="<%= item.tieuDe %>"><%= item.tieuDe %></a></h3>
            <div class="postby">
                <div class="user"><i class="fas fa-user"></i> Nguyễn Ngọc Dũng </div>
                <div class="clock"><i class="far fa-clock"></i> <%= item.createdAt %></div>
            </div>
            <p class="blog-item-summary"><%= item.tomTatTinTuc %></p>
        </div>
        <% } %> 
        <% }); %>  
        <% data.forEach(function(item, i){ %>
            <% if(i > 0){ %>
		<div class="blog-item-link">
			<h3 class="blog-item-name">
				<i class="fa fa-caret-right" aria-hidden="true"></i>
				<a href="/news-detail?id=<%= item.id %>" title="<%= item.tieuDe %>"><%= item.tieuDe %></a>
			</h3>
			<div class="postby">
				<%= item.createdAt %>
			</div>
		</div>
        <% } %> 
        <% }); %>  
		
		
	</div>
</div>