
  
<div class="modal-header" >
   
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body" id="quick-view-product">
    <div class="quick-view-product">
      <div class="block-quickview primary_block details-product">
        <div class="row">
          <div class="product-left-column product-images col-xs-12 col-sm-4 col-md-4 col-lg-6 col-xl-6">
            <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper mySwiper2">
              <div class="swiper-wrapper">
                <% product.image.forEach(function(item, i){ %>
                <div class="swiper-slide">
                  <img src="<%= item %>" />
                </div>
                <% }); %>  
              </div>
              <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div>
            </div>
            <div thumbsSlider="" class="swiper mySwiper">
              <div class="swiper-wrapper">
                <% product.image.forEach(function(item, i){ %>
                <div class="swiper-slide">
                  <img src="<%= item %>" />
                </div>
                <% }); %>  
              </div>
            </div>
          
            <!-- Swiper JS -->
            <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
          
            <!-- Initialize Swiper -->
            <script>
              var swiper = new Swiper(".mySwiper", {
                loop: true,
                spaceBetween: 10,
                slidesPerView: 4,
                freeMode: true,
                watchSlidesProgress: true,
              });
              var swiper2 = new Swiper(".mySwiper2", {
                loop: true,
                spaceBetween: 10,
                navigation: {
                  nextEl: ".swiper-button-next",
                  prevEl: ".swiper-button-prev",
                },
                thumbs: {
                  swiper: swiper,
                },
              });
            </script>
          </div>
          <div class="product-center-column product-info product-item col-xs-12 col-sm-6 col-md-8 col-lg-6 col-xl-6 details-pro style_product style_border" id="product-2842763">
  
            <div class="head-qv group-status">
              <h3 class="qwp-name title-product"><a class="text2line" href="/san-pham-chi-tiet?id=<%= product.id %>" title="Áo phông vitage trắng"> <%= product.tenSp %></a></h3>
              <div class="vend-qv group-status hidden">
                <div class="left_vend">
                  Tình trạng: <span class="tinhtrang">Còn hàng</span>
                </div>
              </div>
            </div>
            <div class="quickview-info">
              <span class="prices price-box">
                <span class="price product-price sale-price"><%= product.giaBanSale %></span>
                <% if(product.sale >0){ %>
                <del class="old-price"><%= product.giaSanPham %></del>
                <% } %>
              </span>
            </div>
            
            
            <% if(arrSize.length >0){ %>
            
            
            <form action="/add-cart" method="post" class="quick_option variants form-ajaxtocart form-product" id="product-actions-2842763">
              <select class="form-select" aria-label="Default select example" id="select-size" name="size" >
                <option value="false-soluong" data-soLuong="0">Chọn size</option>
                <% arrSize.forEach(function(item, i){ %>
                <option value="<%= item.key %>" data-soLuong="<%= item.value %>" id="<%= item.key %>">Size <%= item.key %></option>
                <% }); %> 
               
              </select>
              <input type="text" value="<%= product.id %>" name="id_product" style="display: none;">
              <span class="price-product-detail hidden" style="opacity: 0;">
                <span class=""></span>
              </span>
              
              <div class="form-group form_product_content margin-top-10">
                <div class="count_btn_style quantity_wanted_p">
                  <div class="custom input_number_product soluong1">
                  <label>Số lượng:</label>
                  
                    <input type="number" id="quantity-detail" name="quantity" value="0" min="0" max="50" class="form-control prd_quantity" readonly>
                    <a class="btn_num num_2 button button_qty" id="congSoLuong" style="cursor: pointer;"><i class="fa fa-plus"></i></a>
                    <a class="btn_num num_1 button button_qty" id="truSoLuong" style="cursor: pointer;"><i class="fa fa-minus"></i></a>
                  </div>
                  <div class="button_actions clearfix">
                    <button type="button" id="cickButton" class="btn_cool btn btn_base fix_add_to_cart ajax_addtocart btn_add_cart btn-cart add_to_cart add_to_cart_detail">
                      <span class="btn-content">Cho vào giỏ hàng</span>
                    </button>
                  </div>
                </div>
  
              </div>
  
           
            <% } %>
  
          </div>
        </div>
      </div>      
      
    </div>
  </div>
  <script>
    let maxSoluong = 0
    let quantity =   $("#quantity-detail").val()
      $('#select-size').on('change', function() {
      let id_size = this.value

      if(id_size != 'false-soluong'){
        let soLuong =  $('#'+id_size).attr('data-soLuong')
        maxSoluong = soLuong
        quantity = 1
        $("#quantity-detail").val(1)
        $("#quantity-detail").attr('max', maxSoluong)
        $(".button_actions").empty().append(`<button type="submit"  class="btn_cool btn btn_base fix_add_to_cart ajax_addtocart btn_add_cart btn-cart add_to_cart add_to_cart_detail">
                      <span class="btn-content">Cho vào giỏ hàng</span>
                    </button>`);
       
      }else{
        maxSoluong = 0
        $("#quantity-detail").val(0)
        $("#quantity-detail").attr('max', 0)
      }
      

      
    });

    $('#congSoLuong').on('click', function(){
      let maxnumber = parseInt(maxSoluong)
      
      $("#quantity-detail").val(function (i, oldval) {
                   
                   let a = ++oldval

                  let b = maxSoluong -a
                  if(b> 0){
                    return a
                  }else{
                    return maxSoluong
                  }
                    
                    //return oldval < oldval ? ++oldval:maxnumber;
                });
      
    })

    $('#truSoLuong').on('click', function(){
     
        $("#quantity-detail").val(function (i, oldval) {
                 
                    return oldval > 1 ? --oldval : 1;
                });
    })
    $("#cickButton").on('click', function(){
      alert("Bạn chưa chọn size")
    })
  </script>
 
      
    