<!DOCTYPE html>
<html lang="en">
 
  <head>
    <%- include('./head'); %>
    <title>Sản phẩm chi tiết</title>
  </head>
  <body>
    <%- include('./header'); %>
    <div class="container ">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<ul class="breadcrumb">					
					<li class="home">
						<a href="/"><span>Trang chủ</span></a>						
						<span class="mr_lr">&nbsp;<i class="fas fa-chervon-right"></i>&nbsp;</span>
					</li>
					
					
					<li>
						<a class="changeurl" href="/getCategory-products?id=<%= idDanhSach %>&&page=1"><span><%= tenDanhSach %></span></a>						
						<span class="mr_lr">&nbsp;<i class="fas fa-chervon-right"></i>&nbsp;</span>
					</li>
					
					<li><strong><span><%= tenSanPham %></span></strong></li>
					
				</ul>
			</div>
		</div>
	</div>
    <div class="container ">
     <div class="quick-view-product">
      <div class="block-quickview primary_block details-product">
        <div class="row">
          <div class="product-left-column product-images col-xs-12 col-sm-4 col-md-4 col-lg-6 col-xl-6">
            <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper mySwiper-22">
              <div class="swiper-wrapper">
                <% product.image.forEach(function(item, i){ %>
                <div class="swiper-slide">
                  <img src="<%= item %>" />
                </div>
                <% }); %>  
              </div>
              <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div>
            </div>
            <div thumbsSlider="" class="swiper mySwiper-2">
              <div class="swiper-wrapper">
                <% product.image.forEach(function(item, i){ %>
                <div class="swiper-slide">
                  <img src="<%= item %>" />
                </div>
                <% }); %>  
              </div>
            </div>
          
            <!-- Swiper JS -->
            <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
          
            <!-- Initialize Swiper -->
            <script>
              var swiper = new Swiper(".mySwiper-2", {
                loop: true,
                spaceBetween: 10,
                slidesPerView: 4,
                freeMode: true,
                watchSlidesProgress: true,
              });
              var swiper2 = new Swiper(".mySwiper-22", {
                loop: true,
                spaceBetween: 10,
                navigation: {
                  nextEl: ".swiper-button-next",
                  prevEl: ".swiper-button-prev",
                },
                thumbs: {
                  swiper: swiper,
                },
              });
            </script>
          </div>
          <div class="product-center-column product-info product-item col-xs-12 col-sm-6 col-md-8 col-lg-6 col-xl-6 details-pro style_product style_border" id="product-2842763">
  
            <div class="head-qv group-status" style="display: flex; justify-content: space-between;">
              <h3 class="qwp-name title-product"><a class="text2line" href="/ao-phong-vitage-trang" title="Áo phông vitage trắng"> <%= product.tenSp %></a></h3>
              <div class="vend-qv group-status ">
                <div class="load-star" data-rating="3.3" data-id="<%= product.id %>" style="display: flex; align-items: center;">
                  <div class="rateYo"></div> <span class="numberStar" style="font-size: 16px;font-weight: 600;"></span> <span class="tongDanhGia" style="margin-left: 5px;"> </span>
              </div> 
              </div>
              
            </div>
            <div class="quickview-info">
              <span class="prices price-box">
                <span class="price product-price sale-price"><%= product.giaBanSale %></span>
                <% if(product.sale >0){ %>
                <del class="old-price"><%= product.giaSanPham %></del>
                <% } %>
              </span>
            </div>
            
            <div class="form-product col-sm-12 col-lg-12 col-md-12 col-xs-12">
								
              <% if(arrSize.length >0){ %>
            
            
                <form action="/add-cart" method="post" class="quick_option variants form-ajaxtocart form-product" id="product-actions-2842763">
                  <select class="form-select" aria-label="Default select example" id="select-size" name="size" >
                    <option value="false-soluong" data-soLuong="0">Chọn size</option>
                    <% arrSize.forEach(function(item, i){ %>
                    <option value="<%= item.key %>" data-soLuong="<%= item.value %>" id="<%= item.key %>">Size <%= item.key %></option>
                    <% }); %> 
                   
                  </select>
                  <input type="text" value="<%= product.id %>" name="id_product" style="display: none;">
                  <span class="price-product-detail hidden" style="opacity: 0;">
                    <span class=""></span>
                  </span>
                  
                  <div class="form-group form_product_content margin-top-10">
                    <div class="count_btn_style quantity_wanted_p">
                      <div class="custom input_number_product soluong1">
                     
                      
                        <input type="number" id="quantity-detail" name="quantity" value="0" min="0" max="50" class="form-control prd_quantity" readonly>
                        <a class="btn_num num_2 button button_qty" id="congSoLuong" style="cursor: pointer;"><i class="fa fa-plus"></i></a>
                        <a class="btn_num num_1 button button_qty" id="truSoLuong" style="cursor: pointer;"><i class="fa fa-minus"></i></a>
                      </div>
                      <div class="button_actions clearfix">
                        <button type="button" id="cickButton" class="btn_cool btn btn_base fix_add_to_cart ajax_addtocart btn_add_cart btn-cart add_to_cart add_to_cart_detail">
                          <span class="btn-content">Cho vào giỏ hàng</span>
                        </button>
                      </div>
                    </div>
      
                  </div>
      
               
                <% } %>
                <script>
                  let maxSoluong = 0
                  let quantity =   $("#quantity-detail").val()
                    $('#select-size').on('change', function() {
                    let id_size = this.value
              
                    if(id_size != 'false-soluong'){
                      let soLuong =  $('#'+id_size).attr('data-soLuong')
                      maxSoluong = soLuong
                      quantity = 1
                      $("#quantity-detail").val(1)
                      $("#quantity-detail").attr('max', maxSoluong)
                      $(".button_actions").empty().append(`<button type="submit"  class="btn_cool btn btn_base fix_add_to_cart ajax_addtocart btn_add_cart btn-cart add_to_cart add_to_cart_detail">
                                    <span class="btn-content">Cho vào giỏ hàng</span>
                                  </button>`);
                     
                    }else{
                      maxSoluong = 0
                      $("#quantity-detail").val(0)
                      $("#quantity-detail").attr('max', 0)
                    }
                    
              
                    
                  });
              
                  $('#congSoLuong').on('click', function(){
                    let maxnumber = parseInt(maxSoluong)
                    
                    $("#quantity-detail").val(function (i, oldval) {
                                 
                                 let a = ++oldval
              
                                let b = maxSoluong -a
                                if(b> 0){
                                  return a
                                }else{
                                  return maxSoluong
                                }
                                  
                                  //return oldval < oldval ? ++oldval:maxnumber;
                              });
                    
                  })
                 
              
                  $('#truSoLuong').on('click', function(){
                   
                      $("#quantity-detail").val(function (i, oldval) {
                               
                                  return oldval > 1 ? --oldval : 1;
                              });
                  })
                  $("#cickButton").on('click', function(){
                    alert("Bạn chưa chọn size")
                  })
                </script>
               
                
                <div class="tagslist">
                    <label class="inline">Hãng sản xuất: </label>
                    	<a><%= product.hangSx %></a>
                    
                </div>
                
                
                <div class="social_pro">   
                    <div class="social-media" data-permalink="https://vemouse.mysapo.net/ao-so-mi-asos-asm08">
                    <label>Share: </label>

                    <a target="_blank" href="//www.facebook.com/sharer.php?u=https://vemouse.mysapo.net/ao-so-mi-asos-asm08" class="share-facebook" title="Chia sẻ lên Facebook">
                    <i class="fab fa-facebook-f"></i>
                    </a>
                    <a target="_blank" href="//twitter.com/share?text=ÁosơmiAsosASM08&amp;url=https://vemouse.mysapo.net/ao-so-mi-asos-asm08" class="share-twitter" title="Chia sẻ lên Twitter">
                    <i class="fab fa-twitter"></i>
                    </a>
                    <a target="_blank" href="//pinterest.com/pin/create/button/?url=https://vemouse.mysapo.net/ao-so-mi-asos-asm08&amp;media=https://bizweb.dktcdn.net/thumb/1024x1024/100/091/100/products/10-7d1ddb13-5ce9-4c18-b8f0-6ad8a1bb47d1.jpg?v=1467428984973&amp;description=ÁosơmiAsosASM08" class="share-pinterest" title="Chia sẻ lên pinterest">
                    <i class="fab fa-pinterest"></i>
                    </a>
                    <a target="_blank" href="//plus.google.com/share?url=https://vemouse.mysapo.net/ao-so-mi-asos-asm08" class="share-google" title="+1">
                    <i class="fab fa-google"></i>
                    </a>

                    </div>
                </div>
            </div>
  
          </div>
        </div>
      </div>      
      
    </div>
</div>
<div class="container">
    <div class="product-tab e-tabs not-dqtab">
        <ul class="tabs tabs-title clearfix">	
            
            <li class="tab-link current" data-tab="tab-1" id="tab-link-1">
                <h3><span>Thông tin sản phẩm</span></h3>
            </li>																	
            
            
            <li class="tab-link" data-tab="tab-2" id="tab-link-2">
                <h3><span>Hướng dẫn mua hàng</span></h3>
            </li>																	
            
            
    
        </ul>																									
        <div class="tab-float"> 
            <div id="tab-1" class="tab-content content_extab current">
                <div class="rte product_getcontent">
                    
                  <%- product.mota %>
                    
                </div>
            </div>

            <div id="tab-2" class="tab-content content_extab ">
                <div class="rte product_getcontent">
                  <p style="text-align: justify;">Asos là thương hiệu thời trang bình dân nổi tiếng của Anh được thành lập năm 2000 bởi Nick Robertson dưới hình thức ban đầu là trang web bán hàng thời trang trực tuyến Asos.com dành cho độ tuổi từ 18-34 tuổi. Tuy nhiên, khi càng phát triển, Asos đã thay đổi đối tượng khách hàng khi nhắm đến đa dạng các đối tượng từ phụ nữ, đàn ông, trẻ em cho tới thanh thiếu niên và cung cấp các mặt hàng chủ yếu như giầy dép, phụ kiện, trang sức, quần áo và mỹ phẩm. Phong cách thời trang của Asos chủ yếu được lấy cảm hứng từ những người nổi tiếng để tạo ra những bộ sản phẩm mang tính xu hướng, thời thượng với giá tiêu dùng bình dân nhất.</p>
                </div>
            </div>	

        </div>	
    </div>
</div>
<div class="section_product_vote container">
  <div class="row">
    <div class="col-lg-12">
      <div class="section_title_base">
        <h2 class="title_modules">
          <a  title="Sản phẩm mới">Đánh giá sản phẩm  </a>
          <div class="btn-next-prev">
            <span id="prev-product-new"><i class="fas fa-chevron-left"></i></span>
            <span id="next-product-new"><i class="fas fa-chevron-right"></i></span>
          </div>
        </h2>
        
      </div>
     
      <div class="section owl_nav_custome2 section_content">
            <div class="top-vote">
                  <div class="vote-left col-md-4" style="border: 1px solid #ccc; display: flex;justify-content: center; align-items: center;">
                    <div >
                      <div style="display: flex; justify-content: center;">  
                        <p class="numberStar" style="font-size: 20px;font-weight: 600; text-align: center; margin-bottom: 1px;"></p> 
                        <p  style="font-size: 20px;font-weight: 600; text-align: center; margin-bottom: 1px;"> /5</p> 
                      </div>
                      
                      <div class="load-star" data-rating="3.3" data-id="<%= product.id %>" style="display: flex; align-items: center;margin-bottom: 5px;">
                        <div class="rateYo2"></div>  
                    </div> 
                    
                    <p class="tongDanhGia" style=" text-align: center; font-size: 16px;font-weight: 600;"> </p>
                    </div>
                      
                  </div>
                  <div class="vote-right col-md-8" style="padding: 20px; border: 1px solid #ccc;">
                      <div class="item-star" style="display: flex; align-items: center;justify-content: space-between; margin-bottom: 5px;">
                          <div class="name-star col-2" >5 <i class="fas fa-star" style="color: #fe9727;"></i></div>
                          <div class="do-dai-star col-8"  style="width: 600px; height: 15px; background: #ccc; border-radius: 50px;"><div id="star-5" style="width: 80%;height: 15px; background: #fe9727;color: #fe9727;border-radius: 50px;padding-left: 5px;"></div></div>
                          <div class="total-star col-2" id="total-star-5" style="margin-left: 20px;"></div>
                      </div>
                      <div class=" item-star" style="display: flex; align-items: center;justify-content: space-between; margin-bottom: 5px;">
                        <div class="name-star col-2" >4 <i class="fas fa-star" style="color: #fe9727"></i></div>
                        <div class="do-dai-star col-8" style="width: 600px; height: 15px; background: #ccc; border-radius: 50px;"><div  id="star-4" style="width: 80%;height: 15px; background: #fe9727;color: #fe9727;border-radius: 50px;"></div></div>
                        <div class="total-star col-2" id="total-star-4" style="margin-left: 20px;"></div>
                    </div>
                    <div class=" item-star" style="display: flex; align-items: center;justify-content: space-between; margin-bottom: 5px;">
                      <div class="name-star col-2" >3 <i class="fas fa-star" style="color: #fe9727"></i></div>
                      <div class="do-dai-star col-8" style="width: 600px; height: 15px; background: #ccc; border-radius: 50px;"><div  id="star-3" style="width: 80%;height: 15px; background: #fe9727;color: #fe9727;border-radius: 50px;"></div></div>
                      <div class="total-star col-2" id="total-star-3" style="margin-left: 20px;"></div>
                  </div>
                  <div class=" item-star" style="display: flex; align-items: center;justify-content: space-between; margin-bottom: 5px;">
                    <div class="name-star col-2" >2 <i class="fas fa-star" style="color: #fe9727"></i></div>
                    <div class="do-dai-star col-8" style="width: 600px; height: 15px; background: #ccc; border-radius: 50px;"><div  id="star-2" style="width: 80%;height: 15px; background: #fe9727;color: #fe9727;border-radius: 50px;"></div></div>
                    <div class="total-star col-2" id="total-star-2" style="margin-left: 20px;"></div>
                </div>
                <div class=" item-star" style="display: flex; align-items: center;justify-content: space-between; margin-bottom: 5px;">
                  <div class="name-star col-2" > 1 <i class="fas fa-star" style="color: #fe9727;margin-left: 3px;"></i></div>
                  <div class="do-dai-star col-8" style="width: 600px; height: 15px; background: #ccc; border-radius: 50px;"><div  id="star-1" style="width: 80%;height: 15px; background: #fe9727;color: #fe9727;border-radius: 50px;"></div></div>
                  <div class="total-star col-2" id="total-star-1" style="margin-left: 20px;"></div>
              </div>
                      
                  </div>
            </div>
            <div class="list-member-vote">
              <% if(arrVote.length >0){ %> 
                <% arrVote.forEach(function(item, i){ %>
                    <div class="item-list-star">
                          <div class="" style="display: flex;">
                                <div class="img-member-vote col-4" s>
                                    <img src="<%= item.anhDaiDien %>" alt="<%= item.anhDaiDien %>" >
                                </div>
                                <div class="comment col-8">
                                      <div class="name"><%= item.hoten %></div>
                                      <div class="star">
                                        <% for (let i = 1; i <= 5; i++) { %>
                                          <% if( i <= item.vote){ %> 
                                            <i class="fas fa-star" style="color: #fe9727;"></i>
                                          <% } else{ %>
                                            <i class="fas fa-star" style="color: #ccc;"></i>
                                          <% } %>
                                        
                                        <% } %>
                                      </div>
                                      <div class="size">Size: <%= item.size %></div>
                                      <div class="text-comment"><%= item.comment %></div>
                                    
                                </div>
                                
                          </div>
                          <div class="time"><%= item.createdAt %></div>
                    </div>
                <% }); %>
                <% } %>    
            </div>
      </div>
      
    </div>
  </div>
  
</div>
        <div class="section_product_news container">
            <div class="row">
              <div class="col-lg-12">
                <div class="section_title_base">
                  <h2 class="title_modules">
                    <a href="/getCategory-products?id=<%= idDanhSach %>&&page=1" title="Sản phẩm mới">Sản phẩm liên quan  </a>
                    <div class="btn-next-prev">
                      <span id="prev-product-new"><i class="fas fa-chevron-left"></i></span>
                      <span id="next-product-new"><i class="fas fa-chevron-right"></i></span>
                    </div>
                  </h2>
                  
                </div>
               
                <div class="section owl_nav_custome2 section_content">
                 
                  <div class="owl_product_news">
                    <% spLienQuan.forEach(function(item, i){ %>
                        <div class="item_product_main ">
                          <div class="product-loop-base">
                            <% if(item.sale >0){ %>
                            <span class="number-sale">
                              <i class="fas fa-certificate"> <span class="number-child-sale"><%= item.sale %>%</span> </i>
                            </span>
                            <% } %>
                            <div class="product-thumbnail">
                              <a class="image_link display_flex_small display_flex" href="/san-pham-chi-tiet?id=<%= item.id %>" title="<%= item.tenSp %>" tabindex="-1">
                                <img class="lazyload loaded" src="<%= item.image %>" data-src="<%= item.image %>" alt="<%= item.tenSp %>" data-was-processed="true">
                              </a>
                              <div class="product-action clearfix hidden-xs">
                                <form action="/cart/add" method="post" data-cart-form="" class="variants form-nut-grid" data-id="product-actions-2842754" enctype="multipart/form-data">
                                  <div class="group_action">
                                    <input class="hidden" type="hidden" name="variantId" value="4534384" tabindex="-1">
                                    <button class="btn btn-cart btn btn-circle left-to btn_tuychon" title="Chọn sản phẩm" type="button" onclick="window.location.href='/san-pham-chi-tiet?id=<%= item.id %>'" tabindex="-1">
                                      Chọn sản phẩm
                                    </button>
                                    <button title="Xem nhanh" type="button"  data-url="/products-detal-item?id=<%= item.id %>" data-bs-toggle="modal" data-bs-target="#myModal"  data-handle="ao-so-mi-asos-asm08" class="xem_nhanh btn-circle btn_view btn right-to quick-view hidden-xs hidden-sm hidden-md" >
                                      Xem nhanh
                                    </button>
                                    
                                  </div>
                                </form>
                              </div>
                            </div>
                            <div class="product-info a-left">
                              <h3 class="product-name">
                                <a href="/san-pham-chi-tiet?id=<%= item.id %>" title="Áo sơ mi Asos ASM08" tabindex="-1"><%= item.tenSp %></a>
                              </h3>
                              <div class="product-hideoff">
                                <div class="product-hide">
                                  <div class="price-box clearfix">
                                    <div class="special-price">
                                      <span class="price product-price"> <%= item.giaBanSale %>		</span>
                                    </div>
                                    <% if(item.sale >0){ %>
                                    <div class="old-price">															 
                                      <span class="price product-price-old">
                                        <%= item.giaSanPham %>
                                      </span>
                                    </div>
                                    <% } %>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <% }); %>  
                  </div>
                 
                </div>
                
              </div>
            </div>
            
          </div>
          <div class="modal fade " id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
              <div class="modal-content">
                
              </div>
            </div>
          </div>
    <%- include('./footer'); %>
    <style>
        .mySwiper-22 {
          
            max-width: 90%;
        }
        .mySwiper-2 {
            height: 25%;
          
        }
    </style>
    <script
        type="text/javascript"
        src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
        ></script>
   <script>
    $('.xem_nhanh').on('click', function(e){
        e.preventDefault()
        let url = $(this).data('url')
       
          $.get(url, function (data) {
          $(".modal-content").empty().append(data);
          
        });       
      })
     $(document).ready(function () {
        $(".owl_product_news").slick({
          dots: false,
          infinite: false,
          arrows: true,
          slidesToShow: 4,
          slidesToScroll: 4,
          autoplay: false,
          prevArrow:$('#prev-product-new'),
          nextArrow:$('#next-product-new'),
          speed: 1000,
          responsive: [
            {
              breakpoint: 480,
              settings: {
                arrows: false,
                slidesToShow: 2,
                slidesToScroll: 2,
              },
            },
          ],
        });});
    $('.tab-link').on('click', function(){
        
        let id = $(this).data('tab')
       
         if(id == "tab-1"){
          $('#tab-link-1').css('background', '#66a182')
          $('#tab-link-2').css('background', '#fff')

          $('#tab-2').css('display', 'none')
          $('#tab-2').css('opacity', '0')
          $('#tab-2').css('visibility', 'hidden')
          $('#tab-2').css('opacity', '0')
          $('#tab-2').css('overflow', 'hidden')

          $('#tab-1').css('display', 'block')
          $('#tab-1').css('opacity', '1')
          $('#tab-1').css('visibility', 'visible')
          $('#tab-1').css('height', 'auto')
         } else if(id == "tab-2"){
          $('#tab-link-2').css('background', '#66a182')
          $('#tab-link-1').css('background', '#fff')

          $('#tab-1').css('display', 'none')
          $('#tab-1').css('opacity', '0')
          $('#tab-1').css('visibility', 'hidden')
          $('#tab-1').css('opacity', '0')
          $('#tab-1').css('overflow', 'hidden')

          $('#tab-2').css('display', 'block')
          $('#tab-2').css('opacity', '1')
          $('#tab-2').css('visibility', 'visible')
          $('#tab-2').css('height', 'auto')
         }   
      })
   </script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
   <script>

   $(function(){
     $(".load-star").each(function () {
       
       const $rateYo = $(this).find('.rateYo');
       const $rateYo2 = $(this).find('.rateYo2');
       const rating = parseFloat($(this).data('rating'));
       const id_sp = parseInt($(this).data('id'));
       let star = 0
      
       $.get("/api-app/get-total-star-product?id="+id_sp, function (data) {
           console.log(data);
           if(data.tbStar > 0){
             star = data.tbStar
             let rating2 = Math.round(star * 2) / 2;
           
               $rateYo.rateYo({
               rating: rating2,
               readOnly: true,
               starWidth: '17px'
             }); 
             $rateYo2.rateYo({
               rating: rating2,
               readOnly: true,
               starWidth: '23px'
             });
            $(".numberStar").empty().append(data.tbStar)
            $(".tongDanhGia").empty().append("("+data.totalStar+" Đánh giá)")
           }
          
           
       });
       $.get("/api-app/thong-ke-danh-gia?id_product="+id_sp, function (data) {
            let dataSyar = data.data
            if(dataSyar.totalStar > 0){
              $("#star-5").css("width", `${dataSyar.ceil5star}%`)
              $("#star-4").css("width", `${dataSyar.ceil4star}%`)
              $("#star-3").css("width", `${dataSyar.ceil3star}%`)
              $("#star-2").css("width", `${dataSyar.ceil2star}%`)
              $("#star-1").css("width", `${dataSyar.ceil1star}%`)
            
              $("#total-star-5").empty().append(dataSyar.star5)
              $("#total-star-4").empty().append(dataSyar.star4)
              $("#total-star-3").empty().append(dataSyar.star3)
              $("#total-star-2").empty().append(dataSyar.star2)
              $("#total-star-1").empty().append(dataSyar.star1)
            }else{
                  $(".section_product_vote").empty().append("")
            }
           
       })
       
       
      
     });
   })



</script>
  </body>

</html>
