<!DOCTYPE html>
<html lang="en">
 
  <head>
    <%- include('./head'); %>
    <title>Trang chủ</title>
  </head>
  <body>
    <%- include('./header'); %>
    <div class="section_sidebar_slider">
      <div class="container">
        <div class="row">
          <div
            class="dqdt-sidebar sidebar left-content col-lg-3 col-md-12 hidden-sm hidden-xs"
          >
            <div class="wrap_background_aside asidecollection">
              
            </div>
          </div>
          <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <div class="sectionslider">
              <div class="section home-slider slick-initialized slick-slider">
                <div aria-live="polite" class="slick-list draggable">
                  <div
                    class="slick-track"
                    role="listbox"
                    style="opacity: 1; width: 825px"
                  >
                    <div
                      class="items ons slick-slide slick-current slick-active"
                      style="
                        width: 825px;
                        position: relative;
                        left: 0px;
                        top: 0px;
                        z-index: 999;
                        opacity: 1;
                      "
                    >
                      <div class="listslider">
                        <div class="slider-item">
                          <div class="img-banner">
                            <img
                              src="https://oldsailor.com.vn/vnt_upload/weblink/7157c9dc9230416e182143.jpg"
                            />
                          </div>
                        </div>
                        <div class="slider-item">
                          <div class="img-banner">
                            <img
                              src="https://oldsailor.com.vn/vnt_upload/weblink/01e41de82df1feafa7e01.jpg"
                            />
                          </div>
                        </div>
                      </div>
                      <script
                        type="text/javascript"
                        src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
                      ></script>
                      <script>
                        $(document).ready(function () {
                          $(".listslider").slick({
                            dots: false,
                            infinite: true,
                            arrows: false,
                            slidesToShow: 1,
                            slidesToScroll: 1,
                            autoplay: true,
                            autoplaySpeed: 2500,
                            speed: 1000,
                            responsive: [
                              {
                                breakpoint: 480,
                                settings: {
                                  arrows: false,
                                  slidesToShow: 1,
                                },
                              },
                            ],
                          });
                        });
                      </script>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="module_index">
      <div class="container">
        <div class="row">
          <div class="col-xl-3 col-lg-3 order-xs-last order-sm-last order-md-last">
          <div class="sanPhamBanChay">
          </div>
          <div class="tintuc">
          </div>
        </div>
        <div class="col-xl-9 col-lg-9">
          <div class="section_product_news">
            <div class="row">
              <div class="col-lg-12">
                <div class="section_title_base">
                  <h2 class="title_modules">
                    <a href="/san-pham-noi-bat" title="Sản phẩm mới">Sản phẩm mới</a>
                    <div class="btn-next-prev">
                      <span id="prev-product-new"><i class="fas fa-chevron-left"></i></span>
                      <span id="next-product-new"><i class="fas fa-chevron-right"></i></span>
                    </div>
                  </h2>
                  
                </div>
               
                <div class="section owl_nav_custome2 section_content">
                 
                  <div class="owl_product_news">
                    <% newProducts.forEach(function(item, i){ %>
                        <div class="item_product_main ">
                          <div class="product-loop-base">
                            <span class="number-sale">
                              <i class="fas fa-certificate"> <span class="number-child-sale"><%= item.sale %>%</span> </i>
                            </span>
                            <div class="product-thumbnail">
                              <a class="image_link display_flex_small display_flex" href="/ao-so-mi-asos-asm08" title="<%= item.tenSp %>" tabindex="-1">
                                <img class="lazyload loaded" src="<%= item.image %>" data-src="<%= item.image %>" alt="<%= item.tenSp %>" data-was-processed="true">
                              </a>
                              <div class="product-action clearfix hidden-xs">
                                <form action="/cart/add" method="post" data-cart-form="" class="variants form-nut-grid" data-id="product-actions-2842754" enctype="multipart/form-data">
                                  <div class="group_action">
                                    <input class="hidden" type="hidden" name="variantId" value="4534384" tabindex="-1">
                                    <button class="btn btn-cart btn btn-circle left-to btn_tuychon" title="Chọn sản phẩm" type="button" onclick="window.location.href='/ao-so-mi-asos-asm08'" tabindex="-1">
                                      Chọn sản phẩm
                                    </button>
                                    <button title="Xem nhanh" type="button"  data-url="/products-detal-item?id=<%= item.id %>" data-bs-toggle="modal" data-bs-target="#myModal"  data-handle="ao-so-mi-asos-asm08" class="xem_nhanh btn-circle btn_view btn right-to quick-view hidden-xs hidden-sm hidden-md" >
                                      Xem nhanh
                                    </button>
                                    
                                  </div>
                                </form>
                              </div>
                            </div>
                            <div class="product-info a-left">
                              <h3 class="product-name">
                                <a href="/ao-so-mi-asos-asm08" title="Áo sơ mi Asos ASM08" tabindex="-1"><%= item.tenSp %></a>
                              </h3>
                              <div class="product-hideoff">
                                <div class="product-hide">
                                  <div class="price-box clearfix">
                                    <div class="special-price">
                                      <span class="price product-price"> <%= item.giaBanSale %>		</span>
                                    </div>
                                    <% if(item.sale >0){ %>
                                    <div class="old-price">															 
                                      <span class="price product-price-old">
                                        <%= item.giaSanPham %>
                                      </span>
                                    </div>
                                    <% } %>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <% }); %>  
                  </div>
                 
                </div>
                
              </div>
            </div>
            
          </div>
          <div class="section_2banner">
            <div class="padding">
              <div class="row"> 
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div class="adv_bottom_inner">
                    <figure class="img_effect">
                      <a href="#" title="Banner 1">
                        <img class="lazyload loaded" src="//bizweb.dktcdn.net/100/091/100/themes/880371/assets/banner_1.jpg?1676015176971" data-src="//bizweb.dktcdn.net/100/091/100/themes/880371/assets/banner_1.jpg?1676015176971" alt="Banner 1" data-was-processed="true">
                      </a>
                    </figure>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div class="adv_bottom_inner">
                    <figure class="img_effect">
                      <a href="#" title="Banner 2">
                         <img class="lazyload loaded" src="//bizweb.dktcdn.net/100/091/100/themes/880371/assets/banner_2.jpg?1676015176971" data-src="//bizweb.dktcdn.net/100/091/100/themes/880371/assets/banner_2.jpg?1676015176971" alt="Banner 2" data-was-processed="true">
                      </a>
                    </figure>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="section_product_news">
            <div class="row">
              <div class="col-lg-12">
                <div class="section_title_base">
                  <h2 class="title_modules">
                    <a href="/san-pham-noi-bat" title="Sản phẩm mới">SẢN PHẨM KHUYẾN MÃI</a>
                    <div class="btn-next-prev">
                      <span id="prev-product-sale"><i class="fas fa-chevron-left"></i></span>
                      <span id="next-product-sale"><i class="fas fa-chevron-right"></i></span>
                    </div>
                  </h2>
                  
                </div>
               
                <div class="section owl_nav_custome2 section_content">
                 
                  <div class="owl_product_sale">
                    <% listProductsSale.forEach(function(item, i){ %>
                        <div class="item_product_main ">
                          <div class="product-loop-base">
                            <span class="number-sale">
                              <i class="fas fa-certificate"> <span class="number-child-sale"><%= item.sale %>%</span> </i>
                            </span>
                            <div class="product-thumbnail">
                              <a class="image_link display_flex_small display_flex" href="/ao-so-mi-asos-asm08" title="<%= item.tenSp %>" tabindex="-1">
                                
                                
                                <img class="lazyload loaded" src="<%= item.image %>" data-src="<%= item.image %>" alt="<%= item.tenSp %>" data-was-processed="true">
                              </a>
                              <div class="product-action clearfix hidden-xs">
                                <form action="/cart/add" method="post" data-cart-form="" class="variants form-nut-grid" data-id="product-actions-2842754" enctype="multipart/form-data">
                                  <div class="group_action">
                                    <input class="hidden" type="hidden" name="variantId" value="4534384" tabindex="-1">
                                    <button class="btn btn-cart btn btn-circle left-to btn_tuychon" title="Chọn sản phẩm" type="button" onclick="window.location.href='/ao-so-mi-asos-asm08'" tabindex="-1">
                                      Chọn sản phẩm
                                    </button>
                                    <a title="Xem nhanh" href="/ao-so-mi-asos-asm08" data-handle="ao-so-mi-asos-asm08" class="xem_nhanh btn-circle btn_view btn right-to quick-view hidden-xs hidden-sm hidden-md" tabindex="-1">
                                      Xem nhanh
                                    </a>
                                  </div>
                                </form>
                              </div>
                            </div>
                            <div class="product-info a-left">
                              <h3 class="product-name">
                                <a href="/ao-so-mi-asos-asm08" title="Áo sơ mi Asos ASM08" tabindex="-1"><%= item.tenSp %></a>
                              </h3>
                              <div class="product-hideoff">
                                <div class="product-hide">
                                  <div class="price-box clearfix">
                                    <div class="special-price">
                                      <span class="price product-price"> <%= item.giaBanSale %>		</span>
                                    </div>
                                    <% if(item.sale >0){ %>
                                    <div class="old-price">															 
                                      <span class="price product-price-old">
                                        <%= item.giaSanPham %>
                                      </span>
                                    </div>
                                    <% } %>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <% }); %>  
                  </div>
                 
                </div>
                
              </div>
            </div>
            
          </div>
          <div class="section_product_news">
            <div class="row">
              <div class="col-lg-12">
                <div class="section_title_base">
                  <h2 class="title_modules">
                    <a href="/san-pham-noi-bat" title="Sản phẩm mới">Sản phẩm được mua nhiều nhất</a>
                    <div class="btn-next-prev">
                      <span id="prev-product-hot-order"><i class="fas fa-chevron-left"></i></span>
                      <span id="next-product-hot-order"><i class="fas fa-chevron-right"></i></span>
                    </div>
                  </h2>
                  
                </div>
               
                <div class="section owl_nav_custome2 section_content">
                 
                  <div class="owl_product_hot_order">
                    <% listProductOrder.forEach(function(item, i){ %>
                        <div class="item_product_main ">
                          <div class="product-loop-base">
                            <span class="number-sale">
                              <i class="fas fa-certificate"> <span class="number-child-sale"><%= item.sale %>%</span> </i>
                            </span>
                            <div class="product-thumbnail">
                              <a class="image_link display_flex_small display_flex" href="/ao-so-mi-asos-asm08" title="<%= item.tenSp %>" tabindex="-1">
                                <img class="lazyload loaded" src="<%= item.image %>" data-src="<%= item.image %>" alt="<%= item.tenSp %>" data-was-processed="true">
                              </a>
                              <div class="product-action clearfix hidden-xs">
                                <form action="/cart/add" method="post" data-cart-form="" class="variants form-nut-grid" data-id="product-actions-2842754" enctype="multipart/form-data">
                                  <div class="group_action">
                                    <input class="hidden" type="hidden" name="variantId" value="4534384" tabindex="-1">
                                    <button class="btn btn-cart btn btn-circle left-to btn_tuychon" title="Chọn sản phẩm" type="button" onclick="window.location.href='/ao-so-mi-asos-asm08'" tabindex="-1">
                                      Chọn sản phẩm
                                    </button>
                                    <a title="Xem nhanh" href="/ao-so-mi-asos-asm08" data-handle="ao-so-mi-asos-asm08" class="xem_nhanh btn-circle btn_view btn right-to quick-view hidden-xs hidden-sm hidden-md" tabindex="-1">
                                      Xem nhanh
                                    </a>
                                  </div>
                                </form>
                              </div>
                            </div>
                            <div class="product-info a-left">
                              <h3 class="product-name">
                                <a href="/ao-so-mi-asos-asm08" title="Áo sơ mi Asos ASM08" tabindex="-1"><%= item.tenSp %></a>
                              </h3>
                              <div class="product-hideoff">
                                <div class="product-hide">
                                  <div class="price-box clearfix">
                                    <div class="special-price">
                                      <span class="price product-price"> <%= item.giaBanSale %>		</span>
                                    </div>
                                    <% if(item.sale >0){ %>
                                    <div class="old-price">															 
                                      <span class="price product-price-old">
                                        <%= item.giaSanPham %>
                                      </span>
                                    </div>
                                    <% } %>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <% }); %>  
                  </div>
                 
                </div>
                
              </div>
            </div>
            
          </div>
          <div class="section_1banner">
            <div class="padding">
              <div class="row"> 
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="adv_bottom_inner">
                    <figure class="img_effect">
                      <a href="#" title="Banner">
                        <img style="width: 100%; object-fit: cover;" class="lazyload loaded" src="//bizweb.dktcdn.net/100/091/100/themes/880371/assets/banner.jpg?1676015176971" data-src="//bizweb.dktcdn.net/100/091/100/themes/880371/assets/banner.jpg?1676015176971" alt="Banner" data-was-processed="true">
                      </a>
                    </figure>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        </div>
        
      </div>
    </div>
    
    <div class="modal fade " id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          
        </div>
      </div>
    </div>
    <%- include('./footer'); %>
    <script>
      $('.xem_nhanh').on('click', function(e){
        e.preventDefault()
        let url = $(this).data('url')
       
          $.get(url, function (data) {
          $(".modal-content").empty().append(data);
          
        });       
      })
      $(document).ready(function () {
        $.get("/danhMucSanPham-menu", function (data) {
                $(".asidecollection").empty().append(data);
              });
        $.get("/sanPhamBanChay-products", function (data) {
          $(".sanPhamBanChay").empty().append(data);
        });
        $.get("/getTinTuc-News", function (data) {
          $(".tintuc").empty().append(data);
        });
       
      });
      $(document).ready(function () {
        $(".owl_product_news").slick({
          dots: false,
          infinite: false,
          arrows: true,
          slidesToShow: 4,
          slidesToScroll: 4,
          autoplay: false,
          prevArrow:$('#prev-product-new'),
          nextArrow:$('#next-product-new'),
          speed: 1000,
          responsive: [
            {
              breakpoint: 480,
              settings: {
                arrows: false,
                slidesToShow: 2,
                slidesToScroll: 2,
              },
            },
          ],
        });
        $(".owl_product_sale").slick({
          dots: false,
          infinite: false,
          arrows: true,
          slidesToShow: 4,
          slidesToScroll: 4,
          autoplay: false,
          prevArrow:$('#prev-product-sale'),
          nextArrow:$('#next-product-sale'),
          speed: 1000,
          responsive: [
            {
              breakpoint: 480,
              settings: {
                arrows: false,
                slidesToShow: 2,
                slidesToScroll: 2,
              },
            },
          ],
        });
        $(".owl_product_hot_order").slick({
          dots: false,
          infinite: false,
          arrows: true,
          slidesToShow: 4,
          slidesToScroll: 4,
          autoplay: false,
          prevArrow:$('#prev-product-hot-order'),
          nextArrow:$('#next-product-hot-order'),
          speed: 1000,
          responsive: [
            {
              breakpoint: 480,
              settings: {
                arrows: false,
                slidesToShow: 2,
                slidesToScroll: 2,
              },
            },
          ],
        });
      });

      
    </script>
  </body>

</html>
